APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:qd88eAO3sUhgBXyFL8eeciCXucAb3/kiezeKu0f5mLs=
APP_DEBUG=false
APP_URL=https://reporthubsystem.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=dpg-d6tk9ns50q8c73fhos80-a.render.com
DB_PORT=5432
DB_DATABASE=reporthubsystem
DB_USERNAME=reporthubsystem_user
DB_PASSWORD=A0gkiPELO6bNQ3KUEgDhmkEcmfpv7se8

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file

QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

BROADCAST_CONNECTION=log

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=reportsystemcompany@gmail.com
MAIL_PASSWORD=wajcecclaujbkuto
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="reportsystemcompany@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"
