*.log
.DS_Store
Thumbs.db

# Laravel (backend/)
backend/.env
backend/.env.docker
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.phpunit.cache
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/database/database.sqlite
Homestead.json
Homestead.yaml

# React (frontend/)
frontend/node_modules
frontend/dist

# IDE
.fleet
.idea
.nova
.vscode
.zed
